body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(235, 240, 255);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.question-body {
    height: 85vh;
    max-height: 85vh;
    width: 50vw;
    max-width: 50vw;
    overflow: scroll;
}

.card-body {
    overflow-y: scroll;
    scroll-behavior: smooth;
    background-color: rgb(215, 239, 255);
    height: 28vh;
    max-height: 28vh;
    width: 50vw;
    max-width: 50vw;
}